*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
}

.customBtn{
    background-color: #DCBB6A;
    transition: .5s;
}

.customBtn:hover{
    background-color: #efb92e;
}

h1{
    color: #DCBB6A;
}